mixin dropdownItem(linkName, linkUrl)
  a(class="dropdown-item" href=linkUrl)= linkName

mixin navItem(linkName, linkUrl)
  li(class="nav-item active")
    a(class="nav-link", href=linkUrl)= linkName

nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
  a(class="navbar-brand" href="index.html") A Website Template
  button(class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation")
    span(class="navbar-toggler-icon")
  div(class="collapse navbar-collapse", id="navbarSupportedContent")
    ul(class="navbar-nav mr-auto")
      +navItem("Home", "index.html")
      +navItem("Custom JS/CSS", "custom.html")
      +navItem("Meta", "meta.html")
      li(class="nav-item dropdown active")
        a(class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false") Walkthrough
        div(class="dropdown-menu" aria-labelledby="navbarDropdown")
          +dropdownItem("Setup", "index.html#Setup")
          +dropdownItem("New Content", "index.html#New")
          +dropdownItem("Live Editing", "index.html#Live")
          +dropdownItem("Hosting", "index.html#Hosting")